<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>redirectURI</key>
	<string>xcreds://auth/</string>
	<key>refreshRateHours</key>
	<integer>3</integer>
	<key>refreshRateMinutes</key>
	<integer>0</integer>
	<key>showDebug</key>
	<false/>
	<key>verifyPassword</key>
	<true/>
	<key>LogFileName</key>
	<string>xcreds.log</string>
	<key>shouldShowPreferencesOnStart</key>
	<false/>
	<key>shouldSetGoogleAccessTypeToOffline</key>
	<false/>
	<key>shouldShowAboutMenu</key>
	<true/>
	<key>shouldShowQuitMenu</key>
	<true/>
	<key>shouldFindPasswordElement</key>
	<true/>
	<key>shouldShowSupportStatus</key>
	<string>1</string>
	<key>shouldShowConfigureWifiButton</key>
	<true/>
	<key>shouldShowShutdownButton</key>
	<true/>
	<key>shouldShowRestartButton</key>
	<true/>
	<key>shouldHideIfLocalOnlyUser</key>
	<string>NO</string>
	<key>shouldShowSystemInfoButton</key>
	<true/>
	<key>shouldShowMacLoginButton</key>
	<string>1</string>
	<key>shouldShowRefreshBanner</key>
	<true/>
	<key>KeychainCreate</key>
	<true/>
	<key>shouldSwitchToLoginWindowWhenLocked</key>
	<false/>
	<key>shouldShowCloudLoginByDefault</key>
	<true/>
	<key>shouldPreferLocalLoginInsteadOfCloudLogin</key>
	<false/>
	<key>shouldShowTokenUpdateStatus</key>
	<true/>
	<key>autoRefreshLoginTimer</key>
	<integer>0</integer>
	<key>usernamePlaceholder</key>
	<string>Enter Username</string>
	<key>shouldShowLocalOnlyCheckbox</key>
	<true/>
	<key>shouldDetectNetworkToDetermineLoginWindow</key>
	<false/>
	<key>shouldUseROPGForPasswordChangeChecking</key>
	<false/>
	<key>shouldUseROPGForMenuLogin</key>
	<false/>
	<key>shouldUseROPGForLoginWindowLogin</key>
	<false/>
	<key>passwordPlaceholder</key>
	<string>Password</string>
	<key>refreshBannerText</key>
	<string>Your local account password needs to be changed to match your online password. Please authenticate now.</string>
	<key>shouldPromptForMigration</key>
	<false/>
	<key>shouldAllowKeyComboForMacLoginWindow</key>
	<false/>
	<key>claimsToAddToLocalUserAccount</key>
	<array>
		<string>groups</string>
	</array>
	<key>adUserAttributesToAddToLocalUserAccount</key>
	<array>
		<string>userPrincipalName</string>
		<string>dn</string>
	</array>
	<key>loadPageTitle</key>
	<string>Please Wait....</string>
	<key>loadPageInfo</key>
	<string>(or try connecting to network or check preferences)</string>
	<key>shouldPromptForADPasswordChange</key>
	<true/>
	<key>allowUsersClaim</key>
	<string>upn</string>
	<key>shareMenuItemName</key>
	<string>Shares</string>
	<key>map_password_expiry</key>
	<string>pwd_exp</string>
	<key>map_fullusername</key>
	<string>unique_name</string>
	<key>shouldShowSignInMenuItem</key>
	<true/>
	<key>shouldLoginWindowBackgroundImageFillScreen</key>
	<false/>
	<key>shouldActivateSystemInfoButton</key>
	<false/>
	<key>ropgResponseValue</key>
	<string>interaction_required</string>
	<key>shouldSuppressLocalPasswordPrompt</key>
	<false/>
	<key>overlayDelaySecs</key>
	<integer>10</integer>
	<key>shouldUseKillWhenLoginWindowSwitching</key>
	<false/>
	<key>shouldAllowLoginCardSetup</key>
	<true/>
</dict>
</plist>
