<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>redirectURI</key>
	<string>xcreds://auth/</string>
	<key>refreshRateHours</key>
	<string>3</string>
	<key>showDebug</key>
	<false/>
	<key>verifyPassword</key>
	<true/>
	<key>LogFileName</key>
	<string>xcreds.log</string>
	<key>shouldShowPreferencesOnStart</key>
	<false/>
	<key>shouldSetGoogleAccessTypeToOffline</key>
	<false/>
	<key>shouldShowAboutMenu</key>
	<true/>
	<key>shouldShowQuitMenu</key>
	<true/>
</dict>
</plist>
