<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Send To Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>XCreds AutoFill Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>XCreds AutoFill.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>XCreds Login Autofill.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>XCreds Login Overlay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>XCreds Login Password.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>XCreds.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>XCredsLoginPlugin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XCredsLoginPlugin_TestDeploy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>auth_mech_fixup.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>authrights.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tapgo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>xcredstap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>760291DF2C116E450075FBD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>760291F32C116EDB0075FBD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7631935C287D22C700D36BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766355BC2870CA6A002E3867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766F4C4C2883B88F0021F548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76A247522C22747400859E0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76BEF7D12871F36C0013E2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76DC0A6428836EB1007C42B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76EE069927FD1D00009E0F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
